.cv-container {
  padding: 0 20px;
}

.cv-mobile-container {
  padding: 20px 20px 60px 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-button {
  position: fixed;
  bottom: 80px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.fab-button {
  background-color: var(--main-color); /* Button background color */
  color: #fff; /* Button text color */
  font-size: 24px;
  border: none;
  border-radius: 50%; /* Make the button round */
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Hover effect (optional) */
.fab-button:hover {
  background-color: var(--dark-grey); /* Button background color on hover */
}

.bottom-nav {
  height: 60px;
}

.adm-calendar-picker-footer-bottom button {
  background-color: var(--main-color);
  height: 40px;
  border: none;
  padding-top: 8px !important;
  font-size: 14px;
  width: 100%;
}

.adm-calendar-picker-footer-bottom span {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}

.adm-calendar-picker-view-cell-selected {
  background-color: var(--main-color) !important;
}

.primary-color {
  color: var(--main-color);
}
